.pagination {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-direction: row;
  align-self: stretch;
}

.button {
  width: 100%;
}

.page {
  margin: 5px;
  padding: 10px;
  background-color: grey;
  text-decoration: none;
  color: white;
}

.page:hover {
  background-color: black;
}

.unclickable-page {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 0.5px solid #ffffff;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  pointer-events: none;
}

.index-page {
  margin: 5px;
  padding: 10px;
  outline: 0.5px solid black;
  pointer-events: none;
  background-color: white;
  color: black;
  font-weight: bold;
}
